
<div class="alert alert-success" *ngIf="success==true; else badsend">
  <p>Пароль надіслано</p>
</div>
<ng-template  #badsend>
  <div *ngIf="success==false" class="alert alert-danger">
<p>Пароль не надіслано</p>
</div>
</ng-template>
<div class="container col-6">
<form (submit)="onReset(loginForm)" *ngIf="!(!(!success))" #loginForm="ngForm" >


<mat-form-field >

  <input [(ngModel)]="email" matInput name="email" ngModel type="email" placeholder="E-mail" #emailInput="ngModel" required email>
  <mat-error *ngIf="emailInput.invalid && emailInput.touched"> Введіть будь ласка валідну пошту</mat-error>

</mat-form-field>
<div [hidden]="captcha">

  <re-captcha (resolved)="resolved($event)" siteKey="6LcbNKQUAAAAAAoVCCHd-A5zYtBiskY6qg7jGwWS">

  </re-captcha>
</div>
<button mat-raised-button color="primary" type="submit">Відправити</button>
</form>
</div>
