<div class="container-fluid customC">
  <div class="row">
        <div class="col-6 imageContainer">
          <img class="imageCustom">
        </div>

        <div class="col-6">
        <p>Наша компанія спеціалізується на реалізації будівельних добавок для бетону в Україні. Ми є офіційними дистриб'юторами
        польського заводу Атлас - лідера у постачанні таких добавок у східній Європі та одного з провідних постачальників в
        цілому регіоні.

        Наша компанія пропонує різноманітний спектр добавок для бетону та інших будівельних матеріалів. В якості дистриб'ютора
        Атласу, ми маємо можливість запропонувати нашим клієнтам широкий вибір якісних та ефективних добавок до бетону, що
        допоможуть підвищити міцність та довговічність бетонних конструкцій.

        Наша компанія зосереджена на наданні високоякісних послуг та задоволенні потреб наших клієнтів. Ми готові надати
        консультації та допомогу у виборі оптимальних рішень щодо використання добавок для бетону. Наші фахівці завжди готові
        допомогти та відповісти на запитання наших клієнтів.

        Обираючи нашу компанію, ви можете бути впевнені у якості та надійності наших продуктів та послуг. Ми працюємо на ринку
        будівельних матеріалів вже довгий час та маємо великий досвід у реалізації проектів будь-якої складності.</p>
        </div>
  </div>
</div>
