<div class="container">

  <div class="row">
<div class="col-8">
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.7151564927563!2d23.9927466!3d49.8290186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae77facb3b8a9%3A0xc2e91678263b4f10!2z0LrQvtGA0L_Rg9GBIDXQsCwg0YPQuy4g0JPQtdGA0L7QtdCyINCj0J_QkCwgNzMsINCb0YzQstC-0LIsINCb0YzQstC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1sru!2sua!4v1682279978788!5m2!1sru!2sua"
  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="col-4">
  <label><h4>Компанія "ТЗОВ УКІТ"</h4></label>
  <p>м. Львів, вул. Героїв Упа 73, офіс 403
  Україна, 79000</p>
  <h5>Поштова скринька: </h5>
  <p ><a  style="text-decoration: none; color:darkgray"href="mailto:shopadditivesukit@gmail.com">shopadditivesukit@gmail.com</a></p>
</div>
</div>
  </div>
