.customComment {
  margin-top: 20px;
  margin-bottom: 20px;
}
.comment,
.output {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 200px;
  margin-right: 100px;
  max-width: 800px;

  border: 1px solid gray;
}

.customTextarea {
  width: 500px;
}

.customTable {
  font-size: 14px;
  font-weight: italic normal;
}
th {
  font-weight: normal;
}

.cust:hover {
  background-color: brown;
}

.customStay:hover {
  background-color: rgb(179, 226, 245);
}
