
<form (submit)="newPassword(loginForm)" #loginForm="ngForm">
  <div class="alert alert-success" *ngIf="success==true">
    Пароль змінено
  </div>
  <div class="alert alert-danger" *ngIf="success==false">
    Пароль не змінено
  </div>

  <mat-form-field *ngIf="!notchanged">
    <input type="password" name="password" ngModel #passwordInput="ngModel" matInput placeholder="Пароль" required>
    <mat-error *ngIf="passwordInput.invalid">Введіть валідний пароль</mat-error>

  </mat-form-field>
  <button  mat-raised-button color="primary" type="submit" *ngIf="!notchanged">Змінити</button>
</form>
